<section id="contact" class="section-padding" style="border-top:3px solid #333; background-image: url('http://www.truebluetattoo.com/images/floralBG.jpg');background-repeat: repeat-x;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading text-center">
                            <h2 class="" >
                              August 6th 2016<br>
                              Ottawa @ <a href="http://therainbow.ca/" target="_blank">The Rainbow</a> -
                                      <a href="http://fatboys.ca/?doing_wp_cron=1468232605.3446509838104248046875"  target="_blank">Fatboys</a> -
                                      <a href="http://murraystreet.ca/"  target="_blank">Murray Street Kitchen</a>
                            </h2>

                            <hr>
                        </div>
                    </div>
                  <!--center heading-->
                </div><!--center heading-->
                <div class="divided-50"></div>
                <div class="row contact-form">
                    <div class="col-md-6 wow   margin-btm-30  text-center" >
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,700,400italic,700italic">
<style media="screen">
.landing__header__headline {
  text-transform: uppercase;
  font-family: "Montserrat","Open Sans","Futura","Century Gothic","Helvetica","Arial",sans-serif;
  text-shadow: 1px 1px 0 #FDFDFD, 2px 2px 0 rgba(0, 0, 0, 0.5), 0 0 1px #FDFDFD;
}
</style>
<div class="center-heading">
  <h2 class="  wow animated fadeInRight animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 100ms; animation-name: fadeInRight;">
    Artists & Bands</h2>
</div>
<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/61324-200.png" alt="" style="margin-top:30px;"  class="img-responsive" />
<h1 class="landing__header__headline">
    <br>
    <span id="hero" class="landing__header__hero"></span>
</h1>
<script src="http://lowmess.com/js/theater.min.js"></script><script>var theater = new TheaterJS();
   var time = function(min, max) {
     return Math.random() * (max - min) + min;
   }
   theater.describe("hero", 0.8, "#hero");
   theater
     .write("hero:Hard up", time(1250, 3500))
     .write("hero:grre en famille", time(1250, 3500))
     .write("hero:Chris Von Danger & The Hayride", time(1250, 3500))
     .write("hero:Hairy holler", time(1250, 3500))
     .write("hero:Old Man Grant", time(1250, 3500))
     .write("hero:Gt harris and the Gunslingers", time(1250, 3500))
     .write("hero:A Stagering Pace", time(1250, 3500))
     .write("hero:Jordan & Watts", time(1250, 3500))
     .write("hero:Bastards and the Buzzards", time(1250, 3500))
     .write("hero:Drive-in Radio", time(1250, 3500))
     .write("hero:Alcohull", time(1250, 3500))
     .write("hero:Tossin' Socks", time(1250, 3500))
     .write("hero:Ol'Dave and the dirty birds", time(1250, 3500))
     .write("hero:Special Psychobilly guests", time(1250, 3500))
     .write("hero:LXS Project no Funeral", time(1250, 3500))
     .write("hero:Rogue taxidermy art exhibit and merch", time(1250, 3500))
     .write(function () { theater.play(true); });
</script>


                    </div><!--form col-->
                    <div class="col-md-6">
                        <div class=" text-center margin-btm-30 address-info wow animated bounceIn animated" data-wow-duration="700ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 200ms; animation-name: bounceIn;">
                              <img src="static/img/Poster.jpg" alt="" width="80%"  class="img-responsive"/>
                        </div>
                        <div class=" address-info wow animated bounceIn animated" data-wow-duration="700ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 400ms; animation-name: bounceIn;">

                        </div>
                    </div>

                </div>
            </div>

        </section>
