<section id="contact" class="section-padding" style="background-color:#000;border-top:3px solid #333;border-bottom:3px solid #333;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading text-center">
                            <h2 class=" wow animated fadeInRight animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 100ms; animation-name: fadeInRight;">
                            Presented by</h2>
                        </div><!--center heading-->
                    </div>
                </div><!--center heading-->
                <div class="row contact-form text-center">
                    <div class="col-md-6 text-center" style="margin-top:120px;margin-bottom:15px;">
                      <a href="https://www.facebook.com/BlackandBluegrass/" target="_blank">
                        <h1>Black & Bluegrass Productions</h1>
                      </a>
                      <span class="icon">
                        <a href="https://www.facebook.com/BlackandBluegrass/" target="_blank">
                          <i class="fa fa-facebook-square fa-2x"  aria-hidden="true" style="padding:15px;margin:15px;"></i>
                        </a>
                      </span>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class=" text-center margin-btm-30 address-info wow animated fadeInLeft animated" data-wow-duration="700ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 200ms; animation-name: bounceIn;">
                            <a href="https://www.facebook.com/BlackandBluegrass/" target="_blank">
                              <img src="static/img/Logo.jpg" alt="" width="80%"  class="img-responsive"/>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </section>
