<style media="screen">
.cta-4 {
  padding: 40px 0;
  background-color: #000;
}
.btn-border-white {
    border: 1px solid #fff;
    color: #fff;
}
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.1.0/jquery.countdown.min.js"></script>
<div class="cta-4">
    <div class="container text-center">
        <a href="#"
            class="btn btn-border-white btn-lg wow bounceInDown animated"
            data-wow-duration="100ms"
            data-wow-delay="500ms"
            style="visibility: visible; animation-duration: 700ms; animation-delay: 100ms; animation-name: bounceInLeft;">
                    Ottawa
        </a>
        <h3>The fatboys, Murray</h3>
    </div>
</div>
