<style media="screen">
.cta-5 {
  padding: 40px 0;
  background-color: #333;
  background-image: url('http://www.truebluetattoo.com/images/floralBG.jpg');
  background-repeat: repeat-x;
}
.btn-border-white {
    border: 1px solid #fff;
    color: #fff;
}
.cta-5 ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
.cta-5 ul > li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
.cta-5 > ul li a {
 display:block;
 float:left;
 width:100px;
 background-color:#6495ED;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
.cta-5 ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 }
</style>
<div class="cta-5">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="center-heading text-center">
                  <h2 class=" wow animated fadeInRight animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 100ms; animation-name: fadeInRight;">Our Sponsors</h2>
                  <span class="icon"><i class="fa fa-angle-double-dow"></i></span>
              </div><!--center heading-->
          </div>
      </div><!--center heading-->
<ul>
  <li><img src="http://theme.nileforest.com/html/mazel-v1.4/02_mazel_onepage/img/logos/06.png" alt="" /></li>
  <li><img src="http://theme.nileforest.com/html/mazel-v1.4/02_mazel_onepage/img/logos/06.png" alt="" /></li>
  <li><img src="http://theme.nileforest.com/html/mazel-v1.4/02_mazel_onepage/img/logos/06.png" alt="" /></li>
  <li><img src="http://theme.nileforest.com/html/mazel-v1.4/02_mazel_onepage/img/logos/06.png" alt="" /></li>
  <li><img src="http://theme.nileforest.com/html/mazel-v1.4/02_mazel_onepage/img/logos/06.png" alt="" /></li>
  <li><img src="http://theme.nileforest.com/html/mazel-v1.4/02_mazel_onepage/img/logos/06.png" alt="" /></li>
</ul>
    </div>
</div>
