<style media="screen">
.cta-2 {
  padding: 40px 0;
  background-color: #333;
  border-top: 3px solid #000;
}
.btn-border-white {
    border: 1px solid #fff;
    color: #fff;
}


</style>


<div class="cta-2">
    <div class="container text-center">
      <h2 class="page-title">Artists <span class="text-light">BlueGrass</span></h2>

      <h3>gree en famille</h3>
      <h3>Hard up</h3>
      <h3>Chris Von Danger & The Hayride</h3>
      <h3>Hairy holler</h3>
      <h3>Old Man Grant</h3>
      <h3>Gt harris and the Gunslingers</h3>
      <h3>A Stagering Pace</h3>
      <h3>Jordan & Watts</h3>
      <h3>Moon Fruits</h3>

    </div>
</div>
