<link href='http://andreknieriem.de/sl/dist/simplelightbox.min.css' rel='stylesheet' type='text/css'>


<section id="work" class="section-padding" style="background-image: url('http://www.truebluetattoo.com/images/floralBG.jpg');
    background-repeat: repeat-x;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading text-center">
                    <h2 class=" wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="100ms">Gallery</h2>
                    <span class="icon"><i class="fa fa-image"></i></span>
                </div><!--center heading-->
            </div>
        </div><!--center heading-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="lead margin-btm-30">
                  Our fearless festival of newly-minted music, the <strong>Black And BlueGrass Fest</strong>,
                  returns for a second year after its successful inaugural edition.
                </p>
                <img src="static/img/61324-200.png" alt="Bandjo logo" />
            </div>
        </div>
        <div class="divided-50"></div>


    </div>
    <div class="divided-50"></div>
    <div class="container  wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="200ms">
        <div class="row">
            <div class="col-md-12">
                <div id="grid" class="row gallery" style="">
                    <div class="mix col-sm-4 design margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/a.jpg">
                            <img src="static/img/gallery/a.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M." />
                          </a>

                        </div> <!--item img wrap-->
                        <div class="work-desc">
                              <h4>&nbsp;</h4>
                        </div><!--work desc-->

                    </div><!--work item-->
                    <div class="mix  col-sm-4 html margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/b.jpg">
                            <img src="static/img/gallery/b.jpg"   alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>

                        </div> <!--item img wrap-->
                        <div class="work-desc">
                            <h4>&nbsp;</h4>
                        </div><!--work desc-->

                    </div><!--work item-->
                    <div class="mix col-sm-4 wordpress design margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/c.jpg">
                            <img src="static/img/gallery/c.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>

                        </div> <!--item img wrap-->
                        <div class="work-desc">
                            <h4>&nbsp;</h4>
                        </div><!--work desc-->

                    </div><!--work item-->
                    <div class="mix col-sm-4 seo margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/d.jpg">
                            <img src="static/img/gallery/d.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>

                        </div> <!--item img wrap-->
                        <div class="work-desc">
                            <h4>&nbsp;</h4>
                        </div><!--work desc-->

                    </div><!--work item-->
                    <div class="mix col-sm-4 design margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/e.jpg">
                            <img src="static/img/gallery/e.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>

                        </div> <!--item img wrap-->

                        <div class="work-desc">
                            <h4>&nbsp;</h4>
                        </div><!--work desc-->
                    </div><!--work item-->
                    <div class="mix col-sm-4 html seo margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/f.jpg">
                            <img src="static/img/gallery/f.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>

                        </div> <!--item img wrap-->
                        <div class="work-desc">
                              <h4>&nbsp;</h4>
                        </div><!--work desc-->

                    </div><!--work item-->
                    <div class="mix col-sm-4 design wordpress margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/g.jpg">
                            <img src="static/img/gallery/g.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>

                        </div> <!--item img wrap-->
                        <div class="work-desc">
                              <h4>&nbsp;</h4>
                        </div><!--work desc-->

                    </div><!--work item-->
                    <div class="mix col-sm-4 html wordpress margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/h.jpg">
                            <img src="static/img/gallery/h.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>

                        </div> <!--item img wrap-->
                        <div class="work-desc">
                            <h4>&nbsp;</h4>
                        </div><!--work desc-->
                    </div><!--work item-->
                    <div class="mix col-sm-4 html wordpress margin-btm-30">
                        <div class="item-img-wrap ">
                          <a href="static/img/gallery/i.jpg">
                            <img src="static/img/gallery/i.jpg"  alt="Black & Bluegrass Fest 2016 - copyright & credit; Guinsly M."
                              title="Black & Bluegrass Fest 2016 - photo credit: Guinsly M."/>
                          </a>
                        </div> <!--item img wrap-->
                        <div class="work-desc">
                              <h4>&nbsp;</h4>
                        </div><!--work desc-->
                    </div><!--work item-->
                </div><!--#grid for filter items-->
            </div><!--.col-md-12 of portfolio filter-->
        </div><!--.row-->
    </div>
</section><!--work-->





<script type="text/javascript" src="http://andreknieriem.de/sl/dist/simple-lightbox.js"></script>

<script>
	$(function(){
		var $gallery = $('.gallery a').simpleLightbox();

		$gallery.on('show.simplelightbox', function(){
			console.log('Requested for showing');
		})
		.on('shown.simplelightbox', function(){
			console.log('Shown');
		})
		.on('close.simplelightbox', function(){
			console.log('Requested for closing');
		})
		.on('closed.simplelightbox', function(){
			console.log('Closed');
		})
		.on('change.simplelightbox', function(){
			console.log('Requested for change');
		})
		.on('next.simplelightbox', function(){
			console.log('Requested for next');
		})
		.on('prev.simplelightbox', function(){
			console.log('Requested for prev');
		})
		.on('nextImageLoaded.simplelightbox', function(){
			console.log('Next image loaded');
		})
		.on('prevImageLoaded.simplelightbox', function(){
			console.log('Prev image loaded');
		})
		.on('changed.simplelightbox', function(){
			console.log('Image changed');
		})
		.on('nextDone.simplelightbox', function(){
			console.log('Image changed to next');
		})
		.on('prevDone.simplelightbox', function(){
			console.log('Image changed to prev');
		})
		.on('error.simplelightbox', function(e){
			console.log('No image found, go to the next/prev');
			console.log(e);
		});
	});
</script>
